{{ define "kubeconfig-file-content" }}

<p>Complete kubeconfig file ready to use. Copy and save it to <tt>~/.kube/config</tt> or use it with tools like Lens.</p>

<div class="command">
  <button class="btn" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
  </button>
  <pre><code class="yaml">apiVersion: v1
kind: Config
clusters:
- cluster:
{{- if .K8sCaPemBase64 }}
    certificate-authority-data: {{ .K8sCaPemBase64 }}
{{- else if .K8sCaPem }}
    certificate-authority: ${HOME}/.kube/certs/{{ .ClusterName }}/k8s-ca.crt
{{- else if .K8sCaURI }}
    certificate-authority: ${HOME}/.kube/certs/{{ .ClusterName }}/k8s-ca.crt
{{- end }}
    server: {{ .K8sMasterURI }}
  name: {{ .ClusterName }}
contexts:
- context:
    cluster: {{ .ClusterName }}
    user: {{ .Username }}-{{ .ClusterName }}{{ if .Namespace }}
    namespace: {{ .Namespace }}{{ end }}
  name: {{ if not .StaticContextName }}{{ .Username }}-{{ end }}{{ .ClusterName }}
current-context: {{ if not .StaticContextName }}{{ .Username }}-{{ end }}{{ .ClusterName }}
users:
- name: {{ .Username }}-{{ .ClusterName }}
  user:
    auth-provider:
      config:
        client-id: {{ .ClientID }}
        client-secret: {{ .ClientSecret }}
        idp-issuer-url: {{ .Issuer }}
        id-token: {{ .IDToken }}
        refresh-token: {{ .RefreshToken }}{{ if .IDPCaPem }}
        idp-certificate-authority: ${HOME}/.kube/certs/{{ .ClusterName }}/idp-ca.crt{{ else if .IDPCaURI }}
        idp-certificate-authority: ${HOME}/.kube/certs/{{ .ClusterName }}/idp-ca.crt{{ end }}
      name: oidc</code></pre>
</div>

{{ end }}
